body{
    margin: 0;
    padding: 0;
    /* background-color: white;
    background-image: url(./snoopy.png);
    background-repeat: repeat-y;
    background-position: top right; */
    background: url(OIP.jpeg) no-repeat top right, 
    url(artificial-intelligence-free-photos-image-artificial-intelligence-background_539191-27802.avif) no-repeat top left;
} 
html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}